@-webkit-keyframes fadeIn {
    from { opacity:0; } to { opacity:1; }
}
@-moz-keyframes fadeIn {
    from { opacity:0; } to { opacity:1; }
}
@keyframes fadeIn {
    from { opacity:0; } to { opacity:1; }
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;
}

.landing-page {
  display: inline;
  color: black;
  font-family: 'Amatic SC', cursive;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

.adoption-page {
    border-right: 20px solid gray;
    border-left: 20px solid gray;
    width: calc(100% - 40px);
    height: 100vh;
    color: gray;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    width: calc(100% - 40px);
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    background-color: white;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: calc(100% - 50px);
    margin: 10px 20px 20px 20px;
    padding: 5px;
}

.header-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: calc(100% / 3);
    height: 300px;
    position: relative;
    min-width: 200px;
}

.bailey {
    background-image: url('./assets/bailey.jpeg');
}

.dolce {
    background-image: url('./assets/dolce.jpeg');
}

.rocco {
    background-image: url('./assets/rocco.jpeg');
}

.bailey:hover, .dolce:hover, .rocco:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.name {
    display: none;
}

.bailey:hover .name {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 5px;
    margin-left: 5px;
}

.dolce:hover .name {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 5px;
    margin-left: 5px;
}

.rocco:hover .name {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 5px;
    margin-left: 5px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.button {
    background-color: gray;
    border-radius: 5px;
    color: white;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    width: 220px;
    font-size: 1.0rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    left: calc(50% - 110px);
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#button-hover:hover {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.form-root {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.54);
    z-index: 1003;
    padding: 20px 10px;
}

.form {
    height: 80%;
    width: 40%;
    background-color: white;
    position: absolute;
    left: calc(30% - 20px);
    box-shadow: 0 6px 25px -3px #333;
    margin-top: 10px;
    padding: 20px;
    min-width: 325px;
}

.small-form {
    height: 200px;
    width: 250px;
    background-color: white;
    position: absolute;
    left: calc(50% - 145px);
    box-shadow: 0 6px 25px -3px #333;
    top: calc(50% - 100px);
    padding: 20px;
    min-width: 200px;
    display: table;
}

.close-form {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.background-photo {
    background: url('./assets/Picture.jpg') 50% 40% no-repeat; /* 50% 50% centers image in div */
    background-size: cover;
    height: 100%;
    width: 100%;
    float: left;
    opacity: 0.35;
}

.intro {
    word-wrap: break-word;
    font-weight: bold;
    font-size: 30px;
    z-index: 1;
    position: relative;
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.back-wrapper {
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

#adoption-map {
    width: 100%;
    height: 400px;
}